/pmod_i2s2/pmod_i2s2.cache
/pmod_i2s2/pmod_i2s2.gen
/pmod_i2s2/pmod_i2s2.ip_user_files
/pmod_i2s2/pmod_i2s2.runs
/pmod_i2s2/pmod_i2s2.sim
/pmod_ps2/pmod_ps2.cache
/pmod_ps2/pmod_ps2.gen
/pmod_ps2/pmod_ps2.ip_user_files
/pmod_ps2/pmod_ps2.runs
/pmod_ps2/pmod_ps2.sim
/pmod_xsd/pmod_xsd.cache
/pmod_xsd/pmod_xsd.gen
/pmod_xsd/pmod_xsd.ip_user_files
/pmod_xsd/pmod_xsd.runs
/pmod_xsd/pmod_xsd.sim
/zxaudio/zxaudio.cache
/zxaudio/zxaudio.gen
/zxaudio/zxaudio.ip_user_files
/zxaudio/zxaudio.runs
/zxaudio/zxaudio.sim
/zxclock/zxclock.cache
/zxclock/zxclock.gen
/zxclock/zxclock.ip_user_files
/zxclock/zxclock.runs
/zxclock/zxclock.sim
/zxkeyboard/zxkeyboard.cache  
/zxkeyboard/zxkeyboard.gen
/zxkeyboard/zxkeyboard.ip_user_files
/zxkeyboard/zxkeyboard.runs
/zxkeyboard/zxkeyboard
/zxmouse/zxmouse.cache
/zxmouse/zxmouse.gen
/zxmouse/zxmouse.ip_user_files
/zxmouse/zxmouse.runs
/zxmouse/zxmouse.sim
/zxnext/zxnext.cache
/zxnext/zxnext.gen
/zxnext/zxnext.ip_user_files
/zxnext/zxnext.runs
/zxnext/zxnext.sim
/zxnexys/zxnexys.cache
/zxnexys/zxnexys.gen
/zxnexys/zxnexys.ip_user_files
/zxnexys/zxnexys.runs
/zxnexys/zxnexys.sim
/zxram/zxram.cache
/zxram/zxram.gen
/zxram/zxram.ip_user_files
/zxram/zxram.runs
/zxram/zxram.sim
/zxsdcard/zxsdcard.cache
/zxsdcard/zxsdcard.gen
/zxsdcard/zxsdcard.ip_user_files
/zxsdcard/zxsdcard.runs
/zxsdcard/zxsdcard.sim
/zxvideo/zxvideo.cache
/zxvideo/zxvideo.gen
/zxvideo/zxvideo.ip_user_files
/zxvideo/zxvideo.runs
/zxvideo/zxvideo.sim

/ip/ledsegment
