/zxaudio/zxaudio.cache
/zxaudio/zxaudio.gen
/zxaudio/zxaudio.ip_user_files
/zxaudio/zxaudio.runs
/zxaudio/zxaudio.sim
/zxclock/zxclock.cache
/zxclock/zxclock.gen
/zxclock/zxclock.ip_user_files
/zxclock/zxclock.runs
/zxclock/zxclock.sim
/zxkeyboard/zxkeyboard.cache  
/zxkeyboard/zxkeyboard.gen
/zxkeyboard/zxkeyboard.ip_user_files
/zxkeyboard/zxkeyboard.runs
/zxkeyboard/zxkeyboard
/zxmouse/zxmouse.cache
/zxmouse/zxmouse.gen
/zxmouse/zxmouse.ip_user_files
/zxmouse/zxmouse.runs
/zxmouse/zxmouse.sim
/zxnext/zxnext.cache
/zxnext/zxnext.gen
/zxnext/zxnext.ip_user_files
/zxnext/zxnext.runs
/zxnext/zxnext.sim
/zxnexys/zxnexys.cache
/zxnexys/zxnexys.gen
/zxnexys/zxnexys.ip_user_files
/zxnexys/zxnexys.runs
/zxnexys/zxnexys.sim
/zxnvmemory/zxnvmemory.cache
/zxnvmemory/zxnvmemory.gen
/zxnvmemory/zxnvmemory.ip_user_files
/zxnvmemory/zxnvmemory.runs
/zxnvmemory/zxnvmemory
/zxram/zxram.cache
/zxram/zxram.gen
/zxram/zxram.ip_user_files
/zxram/zxram.runs
/zxram/zxram.sim
/zxvideo/zxvideo.cache
/zxvideo/zxvideo.gen
/zxvideo/zxvideo.ip_user_files
/zxvideo/zxvideo.runs
/zxvideo/zxvideo.sim

